/* Dixie Lee Saloon Girls Stylesheet */

h1{
  font-family: fantasy;
  color: #ff0000}

body{
  font: 15px/1.5 Arial, Helvetica, sans-serif;
  padding: 0;
  margin:0;
  background-color: #f4f4f4;
}

.container{
  width: 80%;
  margin: auto;
  overflow: hidden;
}

ul{
  margin: 0;
  padding: 0;
}

/* Header */
header{
    background: #353637;
    color: #ffffff;
    padding-top: 30px;
    min-height: 70px;
    border-bottom: #32a0c2 3px solid;
  }
  header a{
    color: #ffffff;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 16px;
  }
  header li{
    float: left;
    display: inline;
    padding: 0 20px 0 20px;
  }
  header #branding{
    float: left;
  }
  header #branding h1{
    margin: 0;
  }
  header nav{
    float: right;
    margin-top: 10px;
  }
  header .highlight, header .current a{
    color: #32a0c2;
    font-weight: bold;
  }
  header a:hover{
    color: #cccccc;
    font-weight: bold;
  }



  /* Showcase */
#showcase {
  min-height: 400px;
  background:url('../img/headerbg.jpg') no-repeat center;
  background-size: cover;
  text-align: center;
  color: #ffffff;
}
#showcase h1{
  margin-top: 100px;
  font-size: 55px;
  margin-bottom: 10px;
}
#showcase p{
  font-size: 20px;
}

/* News */
#news{
  padding: 15px;
  color: #ffffff;
  background: #353637;
}
#news h1{
  float: left;
}
#news form{
  float: right;
  margin-top: 15px;
}
#news input[type="email"]{
  padding: 4px;
  height: 25px;
  width: 250px;
}
.button_1{
  height: 38px;
  background: #cccccc;
  border: 0;
  padding-left: 20px;
  padding-right: 20px;
  color: #353637;
}

footer{
  padding: 20px;
  margin-top: 20px;
  color: #ffffff;
  background-color: #32a0c2;
  text-align: center;
}
